[submodule "components/FastPID"]
	path = components/FastPID
	url = https://github.com/SRA-VJTI/FastPID.git
[submodule "components/sra-board-component"]
	path = components/sra-board-component
	url = https://github.com/SRA-VJTI/sra-board-component.git
