menu "Tuning parameters"

	config ESP_WIFI_SSID
		string "WiFi SSID"
		default "myssid"
		help
			SSID (network name) for the example to connect to.

	config ESP_WIFI_PASSWORD
		string "WiFi Password"
		default "mypassword"
		help
			WiFi password (WPA or WPA2) for the example to use.

	config UDP_LOGGER_ENABLE
		bool "Enable udp logger"
		default n
		help
			Enable WiFi UDP logger.

endmenu

