name: Validate-YAML

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/test-install-script.yml'
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/test-install-script.yml'

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate test-install-script.yml
        run: yamllint .github/workflows/test-install-script.yml
